<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css frontpage/default.css">
    <link rel="stylesheet" href="/css frontpage/header.css">
    <link rel="stylesheet" href="/css frontpage/featured.css">
    <link rel="stylesheet" href="/css frontpage/banner.css">
    <link rel="stylesheet" href="/css frontpage/testimonalbrands.css">
    <link rel="stylesheet" href="/css frontpage/footer.css">
    <link rel="stylesheet" href="/css frontpage/s-banner.css">
    <link rel="stylesheet" href="/css frontpage/homepage.css">
    <link rel="stylesheet" href="/css frontpage/cards.css">
    <link rel="stylesheet" href="/css frontpage/newletter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="css/homepage.css">

</head>
<body>
    <!-- <section id="header">
        <a href="#"><img src="img\logo.png" class="logo" alt=""></a>
   
        <div>
          <ul id="navbar">
            <li><a class="active" href ="index.html">Home</a></li>
            <li><a href ="login.html">LogIn</a></li>
            <li><a href ="about.html">About</a></li>
            <li><a href ="contact.html">Contact</a></li>
           
            <li><a href="cart.html"><img src="img/shopping.png" alt="Cart" class="shopping"></a></li>
          </ul>
        </div>
       
    </section> -->

    <section id="secoundpart">
        <h4> Trade-in-offer</h4>
        <h2>super value deals</h2>
        <h1>On all products</h1>
        <p> Save more with coupons &up to 70% off!</p>
        <button>Show Now</button>
    </section>
    <br>
    <div class="blurry-line"></div>
    <br>
    <br>
    <section id="banner1" class="section1"> 
        <div class="card-group">
            <div class="card">
                <img src="img/card1.jpg">
                <div class="layer"></div>
                <div class="info">
                    <h1>Check out our latest arrivals!</h1>
                    <p>
                        Limited stock available
                    </p>
                    <button> Shop Now</button>
                </div>
            </div>
            <div class="card">
                <img src="img/card2.jpg">
                <div class="layer"></div>
                <div class="info">
                    <h1>Explore our featured styles!</h1>
                    <p>
                        Trendiest picks of the season
                    </p>
                    <button> See More</button>
                    </div>
            </div>
            <div class="card">
                <img src="img/card3.jpg">
                <div class="layer"></div>
                <div class="info">
                    <h1> Don’t miss out on our limited editions!</h1>
                    <p>
                        Get yours before it’s too late
                    </p>
                    <button> Grab Now</button>
                    </div>
            </div>
        </div>
    </section>
   
    <br>
    <br>
    <br>

    <section id="product1" class="section1">
        <h2>Featured Products</h2>
        <p>Shop the favorites everyone’s talking about!</p>
        <div class="pro-container" id="product-list">
            <!-- כאן יוטענו המוצרים דינמית -->
        </div>
    </section>
    
    <br>
    <br>
    <div class="blurry-line"></div>
    <br>
    <section id ="s-banner" class="section-p1" >
        <div class="banner-box">
            <h4> crazy deals</h4>
            <h2>buy 1 get 1 free</h2>
           <span> the best trendy shoe is on sale</span>
           <button class="white"> learn more </button>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class=" banner-box banner-box2">
            <h4> crazy deals</h4>
            <h2>buy 1 get 1 free</h2>
           <span> the best trendy shoe is on sale</span>
           <button class="white"> learn more </button>
            </section>
            <br>
            <div class="blurry-line"></div>
            <br>


   
<section id="new-arrivals" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Step into the future of style with our latest collection!</p>
    <div class="pro-container" id="new-arrival-list">
        <!-- כאן יוטענו המוצרים החדשים דינמית -->
    </div>
</section>

<section id="newletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4> Dont Forget To LogIn</h4>
        <p>Log in now to explore the Jordan Shoes app! Discover the latest styles, exclusive offers, and connect with fellow sneaker lovers. Elevate your game!</p>
        <div class="From">
        <button onclick="location.href='login.html'">LogIn Here</button>
        </div>
    </div>
    


</section>
<!--------------testimonial-------------->
<section>
<div class="testimonal">
<div class="small-container">
    <div class="row">
        <div class="col-3">
            <i class="fa fa-quote-left"></i>
            <p> Jordan shoes are more than just sneakers; 
                they embody athletic excellence and have become a cultural
                 icon. They empower everyone to chase their dreams, blending
                  performance and style like no other!</p>
            <div class="rating">
         <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>  
          <i class="fa fa-star"></i>  
          <i class="fa fa-star"></i> 
          <i class="fa fa-star-o"></i> 
        </div>
      <img src="img/user-1.jfif">
      <h3> Dwayne johnson</h3>
    </div>
    <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p> Jordan shoes are a symbol of hard work and dedication. They represent my 
            journey on and off the court, inspiring others to reach for greatness and
             express themselves through style and performance.</p>
        <div class="rating">
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>  
      <i class="fa fa-star"></i>  
      <i class="fa fa-star"></i> 
      <i class="fa fa-star"></i> 
    </div>
  <img src="img/user-2.jfif">
  <h3> Michael B. Jordan</h3>
</div>
<div class="col-3">
    <i class="fa fa-quote-left"></i>
    <p>the best shoes ever! they embody a unique 
        blend of style and attitude. They don’t just elevate your look; they 
        represent a bold confidence that inspires you to stand out and be
         unapologetically yourself. </p>
    <div class="rating">
 <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>  
  <i class="fa fa-star"></i>  
  <i class="fa fa-star"></i> 
  <i class="fa fa-star-o"></i> 
</div>
<img src="img/user-3.jfif">
<h3> megan fox</h3>
</div>
    </div>
</div>
</div>
</section>
<br>
<br>
<section>
<!--------- brands-------->
<div class="brands">
<div class=" small-container">
<div class="row">
    <div class="col-5">
        <img src="img/logo-godrej.png" >
    </div>
    <div class="col-5">
        <img src="img/logo-oppo.png" >
    </div> <div class="col-5">
        <img src="img/logo-coca-cola.png" >
    </div> <div class="col-5">
        <img src="img/logo-paypal.png" >
    </div> <div class="col-5">
        <img src="img/logo-philips.png" >
    </div>
</div>
</div>

</section>
<br>
<div class="blurry-line"></div>
<br>

<script src="/script.js"></script>
<script>
</script>
    <script src="index.js"></script>
</body>
</html>
